# Crear Target

## Ejercicio 1:
Cree el archivo `competencia_01.csv`, usando el `competencia_01_crudo.csv` con una variable adicional llamada `clase_ternaria`, que contenga las categorías **CONTINUA**, **BAJA+1** y **BAJA+2** 

### Ayudita 

Para practicar el muy útil y necesario lenguaje **SQL**, vamos a utilizar una base de datos **OLAP** llamada **DuckDB**. 

La documentación la puede encontrar [aquí](https://duckdb.org/docs/archive/0.8.1/sql/introduction)
Procedemos a instalarla, esto se debe ejecutar una sola vez

In [1]:
#%%bash 
#pip3 install duckdb
#pip3 install jupysql
#pip3 install duckdb-engine

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb in /home/maxibeckel/.local/lib/python3.8/site-packages (0.8.1)

DEPRECATION: distro-info 0.18ubuntu0.18.04.1 has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of distro-info or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupysql in /home/maxibeckel/.local/lib/python3.8/site-packages (0.9.1)
Requirement already satisfied: prettytable in /home/maxibeckel/.local/lib/python3.8/site-packages (from jupysql) (3.8.0)
Requirement already satisfied: ipython in /home/maxibeckel/.local/lib/python3.8/site-packages (from jupysql) (8.12.2)
Requirement already satisfied: sqlalchemy in /home/maxibeckel/.local/lib/python3.8/site-packages (from jupysql) (2.0.20)
Requirement already satisfied: sqlparse in /home/maxibeckel/.local/lib/python3.8/site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/maxibeckel/.local/lib/python3.8/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: sqlglot in /home/maxibeckel/.local/lib/python3.8/site-packages (from jupysql) (17.14.2)
Requirement already satisfied: jinja2 in /home/maxibeckel/.local/lib/python3.8/site-packages (from jupysql) (3.1.2)
Requirement already satisfied: ploomber-core>=0.2.7 in /home/maxibeckel/.local/lib/python3.8/site-packages (from jupysql) (0.2.14)
Collecting ipython (from jupysql)
  Using cached ipython-8.12.0-py3-none-any.whl (796 kB)
Requirement already satisfied: backcall in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: decorator in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (0.19.0)
Requirement already satisfied: matplotlib-inline in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pickleshare in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (2.16.1)
Requirement already satisfied: stack-data in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (5.9.0)
Requirement already satisfied: typing-extensions in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (4.7.1)
Requirement already satisfied: pexpect>4.3 in /home/maxibeckel/.local/lib/python3.8/site-packages (from ipython->jupysql) (4.8.0)
Requirement already satisfied: click in /home/maxibeckel/.local/lib/python3.8/site-packages (from ploomber-core>=0.2.7->jupysql) (8.1.7)
Requirement already satisfied: pyyaml in /home/maxibeckel/.local/lib/python3.8/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Requirement already satisfied: posthog in /home/maxibeckel/.local/lib/python3.8/site-packages (from ploomber-core>=0.2.7->jupysql) (3.0.2)
Collecting MarkupSafe>=2.0 (from jinja2->jupysql)
  Obtaining dependency information for MarkupSafe>=2.0 from https://files.pythonhosted.org/packages/de/e2/32c14301bb023986dff527a49325b6259cab4ebb4633f69de54af312fc45/MarkupSafe-2.1.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading MarkupSafe-2.1.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: wcwidth in /home/maxibeckel/.local/lib/python3.8/site-packages (from prettytable->jupysql) (0.2.6)
Requirement already satisfied: greenlet!=0.4.17 in /home/maxibeckel/.local/lib/python3.8/site-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/maxibeckel/.local/lib/python3.8/site-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/maxibeckel/.local/lib/python3.8/site-packages (from pexpect>4.3->ipython->jupysql) (0.7.0)
Requirement already satisfied: requests<3.0,>=2.7 in /home/maxibeckel/.local/lib/python3.8/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in /home/maxibeckel/.local/lib/python3.8/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in /home/maxibeckel/.local/lib/python3.8/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /home/maxibeckel/.local/lib/python3.8/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in /home/maxibeckel/.local/lib/python3.8/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: executing>=1.2.0 in /home/maxibeckel/.local/lib/python3.8/site-packages (from stack-data->ipython->jupysql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/maxibeckel/.local/lib/python3.8/site-packages (from stack-data->ipython->jupysql) (2.2.1)
Requirement already satisfied: pure-eval in /home/maxibeckel/.local/lib/python3.8/site-packages (from stack-data->ipython->jupysql) (0.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/maxibeckel/.local/lib/python3.8/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /home/maxibeckel/.local/lib/python3.8/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/maxibeckel/.local/lib/python3.8/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/maxibeckel/.local/lib/python3.8/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)
Downloading MarkupSafe-2.1.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (25 kB)

DEPRECATION: distro-info 0.18ubuntu0.18.04.1 has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of distro-info or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

Installing collected packages: MarkupSafe, ipython
  Attempting uninstall: MarkupSafe
    Found existing installation: MarkupSafe 1.0
    Uninstalling MarkupSafe-1.0:
      Successfully uninstalled MarkupSafe-1.0
  Attempting uninstall: ipython
    Found existing installation: ipython 8.12.2
    Uninstalling ipython-8.12.2:
      Successfully uninstalled ipython-8.12.2
Successfully installed MarkupSafe-2.1.3 ipython-8.12.0

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb-engine in /home/maxibeckel/.local/lib/python3.8/site-packages (0.9.2)
Requirement already satisfied: duckdb>=0.4.0 in /home/maxibeckel/.local/lib/python3.8/site-packages (from duckdb-engine) (0.8.1)
Requirement already satisfied: sqlalchemy>=1.3.22 in /home/maxibeckel/.local/lib/python3.8/site-packages (from duckdb-engine) (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/maxibeckel/.local/lib/python3.8/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /home/maxibeckel/.local/lib/python3.8/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (2.0.2)

DEPRECATION: distro-info 0.18ubuntu0.18.04.1 has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of distro-info or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

Configuramos el entorno de ejecución. Si ya tiene todo instalado, solo necesita ejecutar esta celda para empezar a usar **duckdb**

In [3]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:default:

Y ya podemos usar **SQL** dentro de una notebook!

In [4]:
%%sql
select 'hola mundo'

  'hola mundo'
0   hola mundo

Para cargar el archivo `.csv` a una tabla:

In [5]:
%%sql
create or replace table competencia_01 as 
select 
    *
from read_csv_auto('/home/maxibeckel/maestria_datos/dmeyf/dmeyf2023/data/competencia_01_crudo.csv')

Empty DataFrame
Columns: [Success]
Index: []

Hagamos unas queries básicas para comprobar que todo esta funcionando bien.

In [6]:
%sql select * from competencia_01 limit 5

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,29183981,202103,1,0,0,50,197,14468.81,125765.29,2389.82,...,0.0,7,0.00,-114954.00,0.00,5938,101050.66,68,0,71811.06
1,29184630,202103,1,0,0,59,322,11901.57,74158.93,18750.68,...,0.0,1,0.00,-40330.15,17.59,4089,26834.09,7,0,3894.36
2,29185433,202103,1,0,0,68,268,847.15,21672.47,481.62,...,0.0,21,4692.00,-1173.00,0.00,7829,1651.36,3,0,1560.09
3,29185587,202103,1,0,0,79,322,4976.94,47735.98,1839.31,...,0.0,1,0.00,-15988.67,0.00,7580,30025.29,11,0,1700.85
4,29185646,202103,1,0,0,60,257,2860.45,37800.71,4035.40,...,0.0,21,380616.14,-97383.25,0.00,7827,359610.70,31,0,15600.90

In [7]:
%%sql
select 
    foto_mes
    , count(*) as cantidad -- cuenta cuantos casos hay en cada foto_mes 
                           -- y lo guarda en un campo llamado cantidad
from competencia_01
group by foto_mes

   foto_mes  cantidad
0    202103    163324
1    202104    163637
2    202105    164102

Perfecto, ahora cree una nueva tabla con la variable adicional que se le pide. Algunas funciones que le pueden ser útiles:  [where](https://duckdb.org/docs/sql/query_syntax/where), [left join](https://duckdb.org/docs/sql/query_syntax/from), [case statement](https://duckdb.org/docs/sql/expressions/case)

In [ ]:
%%sql
-- escriba la query

## Ejercicio 1.1

* ¿Cuál es la nominalidad de cada clase?
* ¿Cuál es la proporción del target?

In [ ]:
%%sql
-- introduzca sus queries

Para guardar a un **.csv** simplemente debe ejecutar la siguiente sentencia

In [ ]:
%%sql
COPY competencia_01 TO '/home/aleb/dmeyf23/datasets/competencia_01.csv' (FORMAT CSV, HEADER)

## Ejercicio 2 - Avanzado
Use ahora el archivo `ejercicio_target.csv` y calcule para todos los clientes en todos los periodos su **clase_ternaria** al mismo tiempo